%ul.standart_icons
  %li
    = link_to '#', title: 'Главная страница' do
      = image_tag "st_icon1.png", alt: 'Главная страница'
  %li
    = link_to '#', title: 'Карта сайта' do
      = image_tag "st_icon2.png", alt: 'Карта сайта'
  %li
    = link_to '#', title: 'Написать письмо' do
      = image_tag "st_icon3.png", alt: 'Написать письмо'
